/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@400;500&family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');
/* commont tags  */
:root{
    --primary-color: #3F87F5;
    --secondary-color: #3E3E3E;
    --para-color: #7E848C;
    --font-inter: 'Inter', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --semibold-font: 500;
    --bolder-font: 600;
    --bold-font: 700;
    --trans-delay: 300ms ease-in-out;

}
/* header tags */
/* nav tags  */
.nav_logo{
    font-weight: var(--bold-font);
    font-size: 22px;
    line-height: 33px;
    color: var(--secondary-color);
    font-family: var(--font-poppins);
}
.nav_link{
    font-weight: var(--semibold-font);
    transition: var(--trans-delay);
}
.active{
    color: var(--primary-color)!important;

}
.nav_link:hover{
    color: var(--primary-color)!important;
}
/* slider tags  */
.bg_image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.87)),url("../images/banner/banner.jpg");
    height: calc(100vh - 100px);
    width: 100vh;
    background-size: cover;
}
.bg_image1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.164),rgba(0, 0, 0, 0.205)),url("../images/banner/banner.png");
    height: calc(100vh - 100px);
    width: 100vh;
    background-size: cover;
}
.bg_image2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.877)),url("../images/banner/banner\ \(2\).jpg");
    height: calc(100vh - 100px);
    width: 100vh;
    background-size: cover;
}
.slider_caption{
    position: absolute;
    right: 25%;
    left: 25%;
    bottom: 10%;
    color: #fff;
    padding: 1.25rem 0;
    text-align: center;
}
.slider_title{
    font-family: var(--primary-color);
    font-weight: var(--font-poppins);
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}
.slider_btn{
    color: var(--primary-color)!important;
}














/* responsive tags  */

@media (max-width: 668px){

    .slider_caption{
        color: #fff;
        padding: 1rem 0;
        right: 15%;
        left: 15%;
        padding: 1rem 0;
        bottom: 10%;
    }
    
    .slider_title{
        font-size: 24px;
        line-height: 36px;
    }
    
}
